<footer class="footer">
    <!-- Left -->
     
    <div class="footer__language">
        <button (click)="toggleLanguage()">
            <span [class.flip]="isFlipping">{{ language }}</span>
        </button>
    </div>
    

    <!-- Middle -->
    <div class="footer__mid">
        <p></p>
    </div>

    <!-- Right -->
    <div class="footer__social">
        
        <a href="https://www.linkedin.com/in/luigi-ribeiro-ferreira-163085224/" target="_blank" class="social-link">
            <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://github.com/LuigiRibeiroFerreira" target="_blank" class="social-link">
            <img src="assets/icons/github.svg" alt="GitHub" class="social-icon">
        </a>
        <a href="https://www.instagram.com/maarioverde/" target="_blank" class="social-link">
            <img src="assets/icons/instagram.svg" alt="Instagram" class="social-icon">
        </a>
    </div>
</footer>