/* switch settings 👇 */

.ui-switch {
    --switch-bg: #87a8c5; /* Fundo do botão */
    --switch-width: 60px;
    --switch-height: 30px;
    --circle-diameter: 28px; /* Diâmetro do círculo/peixe */
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .slider .circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: var(--circle-inset);
    left: 0;
    transition: left 0.3s ease, background-image 0.3s ease;
  }
  
  .slider .circle::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  /* Quando o botão é ativado */
  input:checked + .slider {
    background: #76c7d0; /* Fundo ativo (cor do oceano) */
  }
  
  input:checked + .slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23ffffff' d='M10 1C5.59 1 2 5.04 2 10c0 4.97 3.59 9 8 9s8-4.03 8-9c0-4.96-3.59-9-8-9zm-3 9.5l6-3.5-6-3.5v7z'/></svg>"); /* Peixe nadando para a direita */
  }
  
  .slider .circle {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23000366' d='M10 1C5.59 1 2 5.04 2 10c0 4.97 3.59 9 8 9s8-4.03 8-9c0-4.96-3.59-9-8-9zm3 9.5l-6-3.5 6-3.5v7z'/></svg>"); /* Peixe nadando para a esquerda */
  }
  