<div class="who-am-i">
    <div class="position-top" data-aos="fade-up">
        <h3>Quem eu sou</h3>
    </div>
    <div>
        <div class="position-bottom">
            <div class="position-left">
                
            </div>
            <div class="position-right" data-aos="fade-left">
                <p>
                    Sou um desenvolvedor front-end que adora tudo relacionado à tecnologia. Gosto de trabalhar em equipe e enfrentar desafios de forma criativa. Estou sempre em busca de aprender algo novo e melhorar minhas habilidades. Acredito que o aprendizado nunca acaba, e cada projeto é uma oportunidade para crescer.
                </p>
            </div>
        </div>
    </div>
</div>
