
<div class="position-bottom">
    <div class="position-left" data-aos="fade-up">
        <h4>{{ data.subtitle }}</h4> 
    </div>
    
    <div class="position-right">
      <h3 data-aos="fade-left">{{ data.title }}</h3>
      <p data-aos="fade-left">{{ data.description }}</p>
      
      <!-- Technologies (for projects) -->
      <div *ngIf="data.type === 'project'" class="technologies" data-aos="fade-left">
        <p *ngFor="let tech of data.technologies">{{ tech }}</p>
      </div>
      <a  class="link" target="_blank" *ngIf="data.type === 'project'" [href]="data.projectLink"><span>Veja o projeto</span></a>
      <!-- Blog Meta (for articles) -->
      <div *ngIf="data.type === 'blog'" class="blog-meta" data-aos="fade-left">
        <span>{{ data.publishDate }}</span>
        <span *ngFor="let tag of data.tags">{{ tag }}</span>
      </div>
  
      <!-- Image (common to all) -->
      <div data-aos="fade-left" class="image tilt-element" data-aos="fade-left">
        <img [src]="data.imagePath" [alt]="data.title">
        
      </div>
      
    </div>
</div>
<div class="divider"></div>

  