
<div class="position-bottom">
    <div class="position-left" data-aos="fade-up">
        <h4>{{ data.subtitle }}</h4> 
    </div>
    
    <div class="position-right">
      <h3 data-aos="fade-left">{{ data.title }}</h3>
      <p data-aos="fade-left">{{ data.description }}</p>
    
      <!-- Link para projetos -->
      <a  class="link" target="_blank" *ngIf="data.type === 'project'" [href]="data.projectLink"><span>{{ linkText }}</span></a>
      <!-- Campos para blog-->
      <a  class="link" target="_blank" *ngIf="data.type === 'blog'" [href]="data.projectLink"><span>{{ linkText }}</span></a>
      <div *ngIf="data.type === 'blog'" class="blog-meta" data-aos="fade-left">
        <span>{{ data.publishDate }}</span>
        <span *ngFor="let tag of data.tags">{{ tag }}</span>
      </div>

      <div data-aos="fade-left" class="image tilt-element" data-aos="fade-left">
        <img [src]="data.imagePath" [alt]="data.title">
        
      </div>
      
    </div>
</div>
<div class="divider"></div>

  