<header class="header">
    <!-- Logo à esquerda -->
    <div class="header__logo">
      <a routerLink="/">
        <img src="/profile.png" alt="profile" />
      </a>
    </div>
  
    <!-- Navegação centralizada -->
    <nav class="header__nav">
    
        <ul>
            <li *ngFor="let link of headerData?.navLinks">
              <a [routerLink]="link.path" 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ link.label }}</a>
            </li>
          </ul>

    </nav>
  
    <!-- Botão à direita para alternar tema-->
    <div class="header__controls">
      
      <app-theme-switch></app-theme-switch>
    </div>
</header>
  