.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-header);
    color: var(--color-text);

    backdrop-filter: blur(3px); /* Borrão no fundo */
    -webkit-backdrop-filter: blur(3px);
    height: 52px;
}

.header__logo{
    width:28px;
    height: 28px;
    border-radius: 50%;
    
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.header__nav{
    
    display: flex;
    justify-content: space-between;
    
}

ul{
    gap: 1.5rem;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    position: relative;
    color: var(--color-secondary);
    font-size: .875rem;
    line-height: 1.25rem;
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
    padding: .5rem 1rem;
    background: transparent;
    transition: all 0.3s ease;
    background: linear-gradient(var(--color-page), var(--color-page)) no-repeat;
    background-size: 0% 100%;
}


a:hover{
    color: var(--color-text);
}
  

.header__controls{
    display: flex;
    align-items: center;
}
.active {
    background-size: 100% 100%;
    color: var(--color-text) !important;
    
}
.nav-highlight {
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    background: var(--color-text);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}