<header class="header">
    <!-- Logo à esquerda -->
    <div class="header__logo">
      <img src="/profile.png" alt="profile" />
    </div>
  
    <!-- Navegação centralizada -->
    <nav class="header__nav">
        <ul>
            <li *ngFor="let link of headerData.navLinks">
              <a >{{ link.label }}</a>
            </li>
          </ul>

    </nav>
  
    <!-- Botões à direita para alternar tema e idioma -->
    <div class="header__controls">
      
      <app-theme-switch></app-theme-switch>
    </div>
</header>
  