<div class="who-am-i">
    <div class="position-top" data-aos="fade-up">
        <h3>Experiências</h3>
    </div>
    <div class="list">
        <div class="position-bottom" >
            <div class="position-left" data-aos="fade-up">
                <h4>Divex</h4>
            </div>
            <div class="position-right">
                <h3 data-aos="fade-left">Artmed+</h3>
                <p data-aos="fade-left">
                    Desenvolvo OnePages para cursos de medicina, criando interfaces intuitivas e eficazes. Trabalho em colaboração com a equipe para captar e implementar requisitos específicos e participo ativamente de revisões e feedbacks, sempre buscando aprimorar processos e resultados finais.
                </p>
                <div class="image tilt-element" data-aos="fade-left"><img src="/Artmed.png"></div>
            </div>
        </div>
        <div class="position-bottom">
            <div class="position-left" data-aos="fade-up">
                <h4>Divex</h4>
            </div>
            <div class="position-right" >
                <h3 data-aos="fade-left">PucRio</h3>
                <p data-aos="fade-left">
                    Desenvolvi OnePages para cursos da Puc-Rio, onde criei interfaces funcionais e visualmente atraentes. Mantive uma comunicação constante com a equipe da A+, alinhando requisitos, revisões e prazos, e assegurando que cada projeto fosse entregue no prazo e de acordo com altos padrões de qualidade.
                </p>
                <div class="image tilt-element" data-aos="fade-left"><img src="/Pucrio.png"></div>
            </div>
        </div>
    </div>
</div>