.fake-header {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52px; 
    background-color: var(--color-bg);
    z-index: -1; 
}

.page{
    background-color: var(--color-bg)
}

.fake-footer {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 52px; 
    background-color: var(--color-bg);
    z-index: -1; 
}
#global-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg); 
    z-index: -1; 
    pointer-events: none; /* Não interfere nos cliques */
}